body{
    width: 1200px;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
}
.first{
    padding: 60px 90px 60px 0;
    margin-left: 88px;
}
.front-title{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
}
.name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    margin: 0 0 25px 0;
}
.dates{
    color: #A8A8A8;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}
.work-experience-section{
    margin: 0 0 15px 0;
}
.second-title{
    margin-bottom: 10px;
}
.second{
    background: #1E2939;
    color: #F5F7FA;
    padding-top: 40px;
    width: 370px;
}
.tech, .skills{
    padding-left: 40px;
}
.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}
.sidebar-title-black{
    color: black;
}
.orange-marker li:before{
    color: #FB6D3A;
}
a{
    color: #A8A8A8;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
span{
    color: #FB6D3A;
}
p{
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.title-text
{
    width: 400px;
}
.name-section{
    margin-bottom: 40px;
}
.sidebar-title-black{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 10px 0;
}
.my-project-list{
    padding: 0 0 0 20px ;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 50px;
}
.grey{
    color: #000000;
}
.white{
    color: white;
    margin-right: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}
.content-second-section{
    padding: 40px;
}
.orange-marker, .tab-first-section{
    padding: 0 0 0 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.orange-marker li{
    color: #FB6D3A;
}
li span {
    color: #A8A8A8;
}
.education-section{
    margin-top: 45px;
}
